@import "tailwindcss";


:root {
  --background: white;
  --foreground: var(--color-stone-900);
  --separator: var(--color-stone-300);

  --primary: var(--color-red-600);
  --primary-foreground: white; /* Texto renderizado acima de um fundo de cor `--primary` */

  --secondary: rgb(255, 153, 0);
  --secondary-foreground: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-separator: var(--separator);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
}

@layer base {
  html {
    background-color: var(--background);
    color: var(--foreground);
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .giga-basic-gradient {
    background: linear-gradient(
      to right,
      var(--color-primary),
      color-mix(in oklab, var(--color-primary), #000000 40%)
    );
  }

  .giga-text-gradient {
    background: linear-gradient(
      to right,
      rgb(255, 153, 0),
      rgb(233, 32, 62),
      rgb(233, 32, 62),
      rgb(255, 0, 0)
    );
    background-clip: text;
    color: transparent;
  }

  /* Scrollbar customizada */
  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-track-red-100 {
    scrollbar-color: #dc2626 #fee2e2;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar-track-red-100::-webkit-scrollbar-track {
    background-color: #fee2e2;
    border-radius: 10px;
  }

  .scrollbar-thumb-primary::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #dc2626, #f43f5e);
    border-radius: 10px;
    border: 2px solid #fee2e2;
  }

  .scrollbar-thumb-primary:hover::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #b91c1c, #e11d48);
  }
}


@layer components {
  /* Animações customizadas */
  .giga-fade-in-left {
    animation: fadeInLeft 1.3s ease-in-out;
  }

  .giga-fade-in-right {
    animation: fadeInRight 1.3s ease-in-out;
  }

  /* Keyframes para animações */
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(90px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(-90px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
